STAGE="local"

HOST_PORT="3000"
HOST="http://localhost:3000"
WEB_HOST="http://localhost:4000"

DOCKER_IMAGE_NAME="microsoft-sql-server-template-image"
DOCKER_CONTAINER_NAME="microsoft-sql-server-template-container"

DB_HOST_TYPE="mssql"
DB_HOST_ADDRESS="localhost"
DB_HOST_PORT="1855"
DB_HOST_USERNAME="sa"
DB_HOST_PASSWORD="password123!"
DB_HOST_DATABASE="template-database"

JWT_SECRET=""
JWT_EXPIRE=""

AZURE_AD_AUDIENCE=""
AZURE_AD_TENANTID=""